################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dcu
/src/ParseLog/__history
*.exe
*.pptx
/src/ParseLog/Win64/Debug
/src/documentation/~$Results.xlsx
